{{#> default-layout }}
<h1>Kedves {{lastName}} {{firstName}}</h1>
<p>
    Foglalási szándéka beérkezett a rendszerünkbe!
    <br />
    Aszisztensünk hamarosan felveszi önnel a kapcsolatot.
</p>
<p></p>
{{/default-layout}}