{{#> default-layout }}
<h1>Kedves felhasználó!</h1>
<p>Ezzel az email címmel regisztrálták alkalmazásunkhoz.</p>
<p> Az alábbi linkre kattintva hagyja jóvá a regisztrációt és adjon meg egy új jelszót!</p>
<a href="{{verificationLink}}" target="_blank">
    <button>Új jelszó</button>
</a>
{{/default-layout}}